/*bagian header*/
.header{
	background: #264653;
	height: 80px;
}
/*akhir header*/
 
/*bagian menu*/
.menu{
	background: #2A9D8F;
	height: 50px;
}
/*akhir menu*/

.badan{
	height: 400px;
}
/*bagian sidebar*/
.wrap .badan .sidebar{
	background: #F4A261;
	float: left;	
	width: 25%;
	height: 100%;
}
 

/*bagian content*/ 
.wrap .badan .content{
	background: #E9C46A;
	float: left;
	height: 100%;
	width: 75%;	
}
 
.wrap .footer{
	background-color: #E76F51;
	height: 105px;
}